# HOMEWORK ASSIGNMENT

# Problem 1

define a series with even values from 100 to 200 in descending order

In [1]:
import numpy as np
import pandas as pd
np_arr=np.array([i for i in range(100,201)])
even_ctr = list(filter(lambda x: (x%2 == 0) , np_arr))
even_ctr.reverse()
print(even_ctr)
s=pd.Series(even_ctr)
print(s)

[200, 198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100]
0     200
1     198
2     196
3     194
4     192
5     190
6     188
7     186
8     184
9     182
10    180
11    178
12    176
13    174
14    172
15    170
16    168
17    166
18    164
19    162
20    160
21    158
22    156
23    154
24    152
25    150
26    148
27    146
28    144
29    142
30    140
31    138
32    136
33    134
34    132
35    130
36    128
37    126
38    124
39    122
40    120
41    118
42    116
43    114
44    112
45    110
46    108
47    106
48    104
49    102
50    100
dtype: int64

# Problem 2

assign index to this series starting from 100

In [2]:
a=[i for i in range(100,151)]
s = pd.Series(even_ctr,index=a)
print(s)

100    200
101    198
102    196
103    194
104    192
105    190
106    188
107    186
108    184
109    182
110    180
111    178
112    176
113    174
114    172
115    170
116    168
117    166
118    164
119    162
120    160
121    158
122    156
123    154
124    152
125    150
126    148
127    146
128    144
129    142
130    140
131    138
132    136
133    134
134    132
135    130
136    128
137    126
138    124
139    122
140    120
141    118
142    116
143    114
144    112
145    110
146    108
147    106
148    104
149    102
150    100
dtype: int64

# Problem 3

create a dataframe of random values of shape 8*6 . Assign index as numerical values and column names from a to f and using loc and iloc print values of rows 3,4 and columns b and e

In [3]:
import numpy as np
import pandas as pd
data=pd.DataFrame(np.random.randn(8,6),index='1 2 3 4 5 6 7 8'.split(),columns='a b c d e f'.split())
print(data)

          a         b         c         d         e         f
1 -0.651002  0.795195 -1.512165 -0.410026 -1.165625 -1.513652
2  1.214006  1.223741  0.106308  1.279592 -0.028551  0.475035
3 -0.530178  1.358819 -1.669134  0.290891 -1.614630 -0.590781
4 -0.514949 -0.387787  0.743074 -1.042343  1.285056 -1.177979
5 -1.813811 -1.974347  1.271314 -0.008495 -0.567407 -1.188077
6  1.125311 -1.119800 -0.632770  0.892857 -0.410924 -0.945049
7 -0.411966  0.845440  0.815762 -0.021921  1.044268  1.468484
8  0.672579  0.097664  0.954723 -1.284604 -0.092796 -0.361216

In [4]:
data.iloc[3:5]

          a         b         c         d         e         f
4 -0.514949 -0.387787  0.743074 -1.042343  1.285056 -1.177979
5 -1.813811 -1.974347  1.271314 -0.008495 -0.567407 -1.188077

In [5]:
print(data[['b','e']])

          b         e
1  0.795195 -1.165625
2  1.223741 -0.028551
3  1.358819 -1.614630
4 -0.387787  1.285056
5 -1.974347 -0.567407
6 -1.119800 -0.410924
7  0.845440  1.044268
8  0.097664 -0.092796

# Problem 4

create a multi-index dataframe and 1st index is ["cse","IT"] and second index is 1 to 6 numbers. use 2 columns A,B and assign random values to it

In [6]:
arrays = [
          ["cse", "cse", "cse", "cse", "cse", "cse", "IT", "IT","IT","IT","IT","IT"],
          [1, 2, 3, 4, 5, 6,1,2,3,4,5,6],
         ]
tuples = list(zip(*arrays))
print(tuples)

[('cse', 1), ('cse', 2), ('cse', 3), ('cse', 4), ('cse', 5), ('cse', 6), ('IT', 1), ('IT', 2), ('IT', 3), ('IT', 4), ('IT', 5), ('IT', 6)]

In [7]:
import numpy as np
import pandas as pd
index = pd.MultiIndex.from_tuples(tuples, names=["A", "B"])
print(index)

MultiIndex([('cse', 1),
            ('cse', 2),
            ('cse', 3),
            ('cse', 4),
            ('cse', 5),
            ('cse', 6),
            ( 'IT', 1),
            ( 'IT', 2),
            ( 'IT', 3),
            ( 'IT', 4),
            ( 'IT', 5),
            ( 'IT', 6)],
           names=['A', 'B'])

In [8]:
s = pd.Series(np.random.randn(12), index=index)
print(s)

A    B
cse  1   -0.600354
     2   -1.423916
     3    1.204824
     4   -0.694655
     5    0.518965
     6   -1.199893
IT   1    0.076389
     2   -1.219091
     3   -0.334726
     4    0.365862
     5    0.731738
     6    0.926388
dtype: float64

# Problem 5

print the row value of number 4 from cse

In [9]:
s.loc[("cse",4)]

-0.6946546387709098

# Problem 6

print the row value of 3,5 from IT

In [10]:
print(s)
s.loc[("IT",3)]

A    B
cse  1   -0.600354
     2   -1.423916
     3    1.204824
     4   -0.694655
     5    0.518965
     6   -1.199893
IT   1    0.076389
     2   -1.219091
     3   -0.334726
     4    0.365862
     5    0.731738
     6    0.926388
dtype: float64

-0.3347259724829863

In [11]:
print(s)
s.loc[("IT",5)]

A    B
cse  1   -0.600354
     2   -1.423916
     3    1.204824
     4   -0.694655
     5    0.518965
     6   -1.199893
IT   1    0.076389
     2   -1.219091
     3   -0.334726
     4    0.365862
     5    0.731738
     6    0.926388
dtype: float64

0.7317383504669179